
<div class="calendar-title">
  <button mat-button (click)="today()">Today</button> 
  <button mat-button (click)="previousMonth()"> < </button>  
  <button mat-button (click)="nextMonth()"> > </button>
  <button class="month-title" mat-button disabled> 
    {{this.date.toLocaleString('default', { month: 'long' })}} 
    {{this.date.getFullYear()}}
  </button>
  

</div>

<table class='calendar-table' *ngIf="calendarGrouped">    
    <tbody>
        <tr *ngFor="let line of calendarGrouped; let row = index">            
            <td *ngFor="let day of line; let col = index" class="calendar-day" [ngClass]="{'today': day.isToday}">             
                <app-calendar-day [calendarDay]=day [row]=row [col]=col> </app-calendar-day>                
            </td>
      </tr>
    </tbody>
</table>

