.reminder-block {   
    vertical-align: top;
    color: aliceblue;
    border-radius: 5px;
    margin-top: 1px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px;
    font-family: 'Lucida Sans';
    font-size: 15px;
    
  }

.reminder-block:hover { 
    cursor: pointer;
  }
