<h1 mat-dialog-title>Reminder</h1>

<form #formDirective="ngForm">  
  <mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>Note</mat-label>
    <input name="note" maxlength="30" matInput required [formControl]="noteFormControl"> 
  </mat-form-field>
    
  <mat-form-field appearance="fill">
    <mat-label>Time</mat-label>
    <input name="time" matInput required type="time" [(ngModel)]="reminder.time">
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input name="color" matInput required type="color" [(ngModel)]="reminder.color">
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input name="city" matInput [(ngModel)]="reminder.city">
  </mat-form-field> 

</mat-dialog-content>

<div mat-dialog-actions>  
  <button mat-button mat-dialog-close>
    Cancel
  </button>  
  <button *ngIf="!isNew" mat-button [mat-dialog-close]="[reminder, true]">
    Delete
  </button>  
  <button mat-button cdkFocusInitial  (click)="save($event)">
    Ok
  </button>
</div>

</form>

