
<form name="form">

  <h1 mat-dialog-title>Reminder</h1>

  <div *ngIf="note.invalid && (note.dirty || note.touched)" class="alert">
    <div *ngIf="note.errors?.required">
      Note is required
    </div>
    <div *ngIf="note.errors?.maxlength">
      Note must be not exceed max 30 characters long
    </div>  
  </div> 

  <mat-form-field appearance="fill">
    <mat-label>Note</mat-label>
    <input name="note" class="form-control" maxlength="30" matInput 
        required  [(ngModel)]="data.note" #note="ngModel">
  </mat-form-field>
    
  <mat-form-field appearance="fill">
    <mat-label>Time</mat-label>
    <input name="time" matInput required type="time" [(ngModel)]="data.time">
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input name="color" matInput required type="color" [(ngModel)]="data.color">
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input name="city" matInput [(ngModel)]="data.city">
  </mat-form-field>

</form>

<div mat-dialog-actions>  
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="[data.note, data.time, data.color, data.city]" cdkFocusInitial>
    Ok
  </button>

</div>


