
<div class="calendar-day-header" (click)="newReminder();">
    <div *ngIf="row==0"> 
        {{calendarDay.date.toLocaleString('default', { weekday: 'short' })}}
    </div>
    <div> 
       <span [ngClass]="{'today': calendarDay.isToday}"> {{calendarDay.date.getDate()}}     </span>
    <span *ngIf="(calendarDay.date.getDate() == 1) || (row==0 && col==0)"> 
        {{calendarDay.date.toLocaleString('default', { month: 'short' })}}
    </span>
    </div>
</div>

<div> 
    <span *ngFor="let reminder of calendarDay.getSortedReminders()"> 
        <app-reminder [reminder]=reminder [calendarDay]=calendarDay> </app-reminder>  
    </span>
</div>   

